@import './common/scss/colors';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-headerSection {
    height: 80px;
    background-color: $BaseBlue100;
    width: 100%;
  }

  &-main {
    display: flex;
    flex-direction: column;
    min-width: 1440px;
  }

  &-mainSection {
    display: flex;
  }
  &-leftSection {
    display: flex;
    width: 232px;
  }
  &-rightSection {
    display: flex;
    flex-grow: 1;
  }
}
